:root {
  --header-background: #2f303a;
  --footer-background: #2f303a;
  --menu-background: #ffffff;
  --button-hover-bg: #2196f3;
  --main-background: #ffffff;
  --main-text: #212121;
}
.logo {
  font: "Raleway";
  font-size: 26px;
  font-weight: 700;
}
.logo-begin {
  color: #2196f3;
}
.header {
  background-color: var(--menu-background);
}
.header-info {
  height: 600px;
  width: auto;
  background-color: var(--header-background);
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1.36;
  top: 50%;
}
.header-info h1 {
  vertical-align: middle;
}
.menu {
  font: "Roboto";
  font-weight: 500;
  font-size: 14px;
}
.menu a {
  text-decoration: none;
  color: #212121;
}
.menu li {
  display: inline;
}
.footer {
  height: 252px;
  width: auto;
  background-color: var(--footer-background);
  color: #ffffff;
  font-size: 14px;
}
.footer a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.menu a:hover,
.menu a:focus,
.footer a:hover,
.footer a:focus {
  color: #2196f3;
  cursor: pointer;
}
.main-button {
  background-color: #2196f3;
  color: #ffffff;
  font: "Roboto";
  font-size: 16px;
  font-weight: 700;
}
.lorem-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}
.lorem-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
.team-name {
  font-weight: 500;
  line-height: 1.188;
}
.team-job {
  color: #757575;
  line-height: 1.188;
}
.portfolio-button button {
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
}
.portfolio-button button:hover,
.portfolio-button button:focus {
  background-color: var(--button-hover-bg);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
.company {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.company-type {
  line-height: 1.88;
}
.contact a {
  color: #757575;
  font-size: 14px;
  text-decoration: none;
}
.contact a:hover,
.contact a:focus {
  color: #2196f3;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 44px;
  line-height: 1.36;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
body {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--main-text);
  background-color: var(--main-background);
}
